<div class="banner">
<div class="banner-heading">
HN Feed
</div>
<div class="banner-sub-heading ">
 We <3 Hacker news!
</div>
</div>

<div class="example-header mat-elevation-z8">
      <div class="row">
      
            <div class="col-10">
                  <mat-form-field class="filter">
                  <input matInput (keyup)="applyFilter($event.target.value)" 
                  placeholder="Escriba algo para filtrar">
                   
                 
                  </mat-form-field>
                  <button class="refresh"  mat-button  (click)="refreshList()"><mat-icon matSuffix>autorenew</mat-icon></button> 
            </div> 

            <div class="col-2">
       
            </div> 
      </div> 

</div>
<br>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
<div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
 
        <ng-container  matColumnDef="title">
              <mat-header-cell   *matHeaderCellDef mat-sort-header > title</mat-header-cell>
              <div *matCellDef="let row">
                  <mat-cell  (click)="goToLink(row)" *ngIf="row.title"  style="width:50vw" > {{row.title}} </mat-cell>
                  <mat-cell  (click)="goToLink(row)"  *ngIf="row.story_title && !row.title" style="width:50vw" > {{row.story_title}} </mat-cell>
              </div>
        </ng-container>

        <ng-container matColumnDef="author">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> author </mat-header-cell>
              <div *matCellDef="let row">
                  <mat-cell  (click)="goToLink(row)"  style="width:10vw" > - {{row.author}} - </mat-cell>
              </div>
      
        </ng-container>

        <ng-container matColumnDef="created">
              <mat-header-cell *matHeaderCellDef mat-sort-header > created</mat-header-cell>
              <mat-cell *matCellDef="let row"  (click)="goToLink(row)"  style="width:10vw" > {{row.created_at | dateTimeFormat:'YYYY-MM-DD HH:mm:ss'}} </mat-cell>
        </ng-container>

        <ng-container  matColumnDef="operations">
            <mat-header-cell *matHeaderCellDef  mat-sort-header> Operations </mat-header-cell>
            <mat-cell *matCellDef="let element"  style="width:10vw">  <button  mat-button  color="primary" (click)="deleteStorys(element._id)"><mat-icon>delete</mat-icon>

            </button>  </mat-cell>

            </ng-container>
           
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>